<p id="notice"><%= notice %></p>

<%= image_tag @user_image.image.url %>

<p>
  <strong>Description:</strong>
  <%= @user_image.description %>
</p>


<% if @user_image.user == current_user %>
	<%= link_to 'Edit', edit_user_image_path(@user_image) %> |
<% end %>

<%= link_to 'Back', user_images_path %>
